html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.homepage-label {
  /*text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;*/
  font-size:15px;
  clip: rect(0, 0, 0, 0);
	display: inline-block;
	max-width: 100%;
	margin-bottom: 7px;
}

.master-nav-head {
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
}

nav {
  height: 40px;
  line-height: 20px;
  color: #FC4C02;
  background-color: #dfdfdf;
  width: 100%;
  opacity: 0.8;
  filter: alpha(opacity=50);
}

.nav-content {
  display: inline-block;
  font-size: 160%;
}

.master-nav-head img {
  width: 3%;
  padding-left: 2%;
}

.user-input-homepage {
  min-height: 40px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 0 10px 0;
  padding: 5px 10px;
  border: 1px solid #ccc;
  font-size: 14px;
  font-weight: 300;
  border-radius: 3px;
}

/*.nav-wrapper {
  padding-left: 2%;
}*/

.main-container {
  background-image: url("../img/marin.jpeg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 100% 20%;
  height: 900px;
  margin-top: 60px;
}

.form-container {
  width: 500px;
  margin: 5px auto 0 auto;
  padding: 45px 20px 45px 20px;
  overflow: hidden;
  text-align: center;
  position: relative;
}

.main-headline {
  font-size: 350%;
  color: #4d4d4d;
  text-align: center;
  padding-top: 5%;
  font-weight: 900;
   text-transform: uppercase;

}

.form-headline {
  font-size: 120%;
  color: #4d4d4d;
  text-align: center;
  padding-bottom: 25px;
}
.route-input {
  border-radius: 4px;
  color: #333;
  text-shadow: none;
  background-color: rgba(255,255,255,0.9);
  padding: 50px;
}

.input-wrapper {
  width: 280px;
  margin: 0 auto;
	width: 359px;
}

.input-group {
	text-align: left;
	margin-bottom: 10px;
}

.select-group {
	margin-bottom: 0;
}

#mile-range {
	background: #fff;
	background: #fff;
  min-height: 40px;
  box-sizing: border-box;
  margin: 0 0 10px 0;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 300;
  border-radius: 3px;
  height: 40px;
}

.select-mile-range {
	border: 1px solid #ccc;
	width: 50%;
	color: #999999;
}

.show-label-text {
	font-size: 1-px;
}

.user-input {
  margin: 10px 0;
  padding: 0;
  border: none;
  font-size: 14px;
}
.form-container button {
  min-height: 40px;
  font-size: 16px;
  margin-top: 10px;
  border-radius: 3px;
  width: 90%;
  color: #fff;
  background-color: #FC4C02;
  border-color: #FC4C02;
  border: 1px solid #ccc;
	font-weight: 700;
  font-size: 18px;
  letter-spacing: .01rem;
  text-transform: Uppercase;
}

.form-container button:hover {
background-image:none;
background-color: #e34402;
}
